{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}

{% if error %}
<div class="errornote">{{ error }}</div>
{% endif %}

<div id="content-main">
    <form action="" method="post">
        {% csrf_token %}

        <div class="form-row">
            <h3>
            Please enter your username and e-mail address below. An e-mail will
            be sent to you with a link that you can use to reset your password.
            </h3>
        </div>
        <br/>
        <table align="center">
        {% for field in form %}
            <tr>
            <div class="form-row">
                <td><label for="{{ field.auto_id }}">{{ field.label }}:</label></td><td>{{field}}</td>
            </div>
            </tr>
        {% endfor %}

            <tr>
                <td colspan="2" align="right">
                <div class="submit-row">
                    <input type="submit" value="{% trans 'Reset Password' %}" />
                </div>
                </td>
            </tr>
        
        </table>

        <script type="text/javascript">
            document.getElementById('id_username').focus()
        </script>
    </form>
</div>
{% endblock %}