{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
{% if error %}
    <div class="errornote">
        {{ error }}
    </div>
{% endif %}

<div id="content-main">
    <form action="" method="post">
        {% csrf_token %}

        <div class="form-row">
            <h3>Please enter a new password below.</h3>
        </div>

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
    
        <table>
        {% for field in form.visible_fields %}
            <tr>
            <div class="form-row">
                <td><label for="{{ field.auto_id }}">{{ field.label }}:</td><td></label>{{ field }}</td>
            </div>
            </tr>
        {% endfor %}

        <tr>
            <td colspan="2" align="right">
                <div class="submit-row">
                    <label>&nbsp;</label>
                    <input type="submit" value="{% trans 'Set Password' %}" />
                </div>
            </td>
        </tr>
        </table>

        <script type="text/javascript">
            document.getElementsByTagName("input")[0].focus();
        </script>
    </form>
</div>
{% endblock %}