<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%
    relpath = '../../../'
%>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>MAMBO MS- Graph displayer</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="${relpath}site_media/css/main.css"></link>
    <link rel="stylesheet" type="text/css" href="${relpath}site_media/css/graph.css"></link>
    <link rel="stylesheet" type="text/css" href="${relpath}site_media/js/cropper/cropper.css"></link>
    
    <script type="text/javascript" src="${relpath}site_media/js/cropper/lib/prototype.js" language="javascript" ></script>
    <script type="text/javascript" src="${relpath}site_media/js/cropper/lib/scriptaculous.js?load=builder,effects,dragdrop" language="javascript" ></script>
    <script type="text/javascript" src="${relpath}site_media/js/cropper/cropper.js" language="javascript"></script>
    <script type="text/javascript" src="${relpath}site_media/js/cropper/cropper.js" language="javascript"></script>
    <script type="text/javascript" src="${relpath}site_media/js/graph.js" language="javascript"></script>
    <script>
        var graphid = (${spectrum.id} == 0) ? ${compound.spectrum.id} : ${spectrum.id};
    </script>
</head>
<body onLoad="onLoad(graphid);">
<div id="north"><div id="appTitle">Mambo-MS: Mass Spectrometer Data Viewer</div>
<br/>
<table id="compound_info">
    <tr><td class='label'>Name:</td> <td class='value'>${compound.cas_name}</td></tr>
    <tr><td class='label'>CAS Registry Number:</td> <td class='value'>${compound.cas_regno}</td></tr>
    <tr><td class='label'>Molecular Formula:</td> <td class='value'>${compound.molecular_formula}</td></tr>
    <tr><td class='label'>Molecular Weight:</td> <td class='value'>${molweight}</td></tr>
</table>
<div id="img_container" style='clear:both; width: 900px; height: 500px; padding-left: 50px; padding-top: 30px'>
    <div>
        <img id="graph_img" width="900" height="300" />
    </div>
    <div style='clear:both;'>
        <img id="graphmap_img" width="900" height="100" />
    </div>
    <div id="buttons" align='center'>
        <input id="moveleft" class='buttonstyle' type="button" value="<<" />
        <input id="back" class='buttonstyle' type="button" value="previous" />
        <input id="reset" class='buttonstyle' type="button" value="reset" />
        <input id="moveright" class='buttonstyle' type="button" value=">>" />
    </div>
</div>
</body>
</html>
