<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%
    relpath = '../../../'
%>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>MAMBO MS- Graph displayer</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="${relpath}site_media/css/main.css"></link>
    <link rel="stylesheet" type="text/css" href="${relpath}site_media/css/graph.css"></link>
    <link rel="stylesheet" type="text/css" href="${relpath}site_media/js/cropper/cropper.css"></link>
    
    <script type="text/javascript" src="${relpath}site_media/js/cropper/lib/prototype.js" language="javascript" ></script>
    <script type="text/javascript" src="${relpath}site_media/js/cropper/lib/scriptaculous.js?load=builder,effects,dragdrop" language="javascript" ></script>
    <!--
    <script type="text/javascript" src="${relpath}site_media/js/cropper/cropper.js" language="javascript"></script>
    <script type="text/javascript" src="${relpath}site_media/js/cropper/cropper.js" language="javascript"></script>
    -->
    <script type="text/javascript" src="${relpath}site_media/js/graph.js" language="javascript"></script>
    <script>
        var viewGraph = function(id) {
        var url = 'mamboms/graph/' + id + '/?spectrumid=1';
        var width = 1000;
        var height = 700;
        var x = (screen.width - width) / 2;
        var y = (screen.height - height) / 2;
        var props = "width=" + width + ", height=" + height + ", left=" + x + ", top=" + y; 
        var win = window.open(url, 'graph_window', props);
        win.resizeTo(width,height);
        win.moveTo(x,y);
        win.focus();
    };
        var graphid = (${spec.id} == 0) ? ${compound.spectrum.id} : ${spec.id};
    </script>
</head>
<body onLoad="onLoad(graphid);" style="margin:0px; padding: 0px;">
<div id="north"><!--<div id="appTitle">Mambo-MS: Mass Spectrometer Data Viewer</div>-->
<br/>
<table id="compound_info">
<div id="img_container" width="100%" style="margin:0px; padding:0px;"/>
    <div>
        <img id="graph_img" style="margin:0px; padding:0px" width="100%" onclick="viewGraph(graphid);" />
    </div>
    <div style='clear: both; display:none;'>
        <img id="graphmap_img" width="0" height="0" />
    </div>
</div>
</body>
</html>
