<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <title>MAMBO MS</title>

<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" type="text/css" href="static/css/main.css"></link>
<link rel="stylesheet" type="text/css" href="static/js/ext/resources/css/ext-all.css"></link>
<link rel="stylesheet" type="text/css" href="static/css/toolbar.css"></link>
<link rel="stylesheet" type="text/css" href="static/js/ext_extensions/superboxselect.css"></link>
<link rel="stylesheet" type="text/css" href="static/js/ext_extensions/file-upload.css"></link>
<link rel="stylesheet" type="text/css" href="static/js/ext_extensions/Ext.ux.form.LovCombo.css"></link>
<link rel="stylesheet" type="text/css" href="static/js/ext_extensions/Ext.ux.form.LovCombo_selectall.css"></link>

</head>
<body>
<script>
</script>

<div id="north"><div id="appTitle">
<div id="headermenu">

<a href="${ newurl }">Click here to access Mambo-MS at Bio21</a> 
</div>
<a id="appTitleLink" href="${newurl}">MAMBO MS</a>
</div>
<div id="toolbar"/></div>
<div id="south">(c) CCG 2010</div>
<div id="centerDiv">

<center>
<div style="margin-top:130px; border:3px solid #003862; width:450px;">
    <div id="appTitle">
        <h1> Mambo-MS has a new address! </br></br></h1>
    </div>
    <div style="margin: 30px;">
        <h1> <a href=${newurl}>${newurl}</a></br></h1>
        </br></br>
        <p>The Mambo-MS site has moved, and is now hosted by <a href="http://www.bio21.unimelb.edu.au/">Bio21</a></p>
        <p>The new address is: <a href=${newurl}>${newurl}</a></p>
    </div>
</div>
</center>

</div>
<form id="hiddenForm"/>

</body>
</html>
