<%def name="block_blockbots()">
    <meta name="bang" content="pop"/><meta name="robots" content="NONE,NOARCHIVE" />
</%def>

<%def name="block_content()">
</%def>

<%def name="block_head()">
    <title>${self.block_title()}</title>

    <link rel="stylesheet" type="text/css" href="${admin_media_prefix()}css/base.css" />
    <link rel="stylesheet" type="text/css" href="${admin_media_prefix()}css/login.css" />
    <link rel="stylesheet" type="text/css" href="${STATIC_URL}css/main.css" />

    ${self.block_blockbots()}
</%def>

<%def name="block_title()">MAMBO MS</%def>

<%namespace name="admin" module="django.contrib.admin.templatetags.adminmedia" />


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="${LANGUAGE_CODE}" xml:lang="${LANGUAGE_CODE}">
    <head>
        ${self.block_head()}
    </head>

    <body class="login">
        <div id="container">
            <div id="north">
                <div id="appTitle">
                    <a id="appTitleLink" href="../">${self.block_title()}</a>
                </div>
            </div>

            <div id="content" class="colM">
                ${self.body()}
                <br class="clear" />
            </div>
        </div>
    </body>
</html>

