<%inherit file="mamboms/public.html" />

<div id="content-main">
    <form action="" method="post">
        ${csrf_tag(csrf_token)}

        <div class="form-row">
            Please enter a new password below.
        </div>

%       if error:
            <div class="error form-row">
                ${error}
            </div>
%       endif

%       for field in form.hidden_fields():
            ${field}
%       endfor
    
%       for field in form.visible_fields():
            <div class="form-row">
                <label for="${field.auto_id}">${field.label}:</label>
                ${field}
            </div>
%       endfor

        <div class="submit-row">
            <label>&nbsp;</label>
            <input type="submit" value="${trans('Set Password')}" />
        </div>

        <script type="text/javascript">
            document.getElementsByTagName("input")[0].focus();
        </script>
    </form>
</div>
